<h1>Listing categorys</h1>

 <%= Category.roots.each{|x| p x.children} %>
 
 <hr>
<%= Category.roots.each{
	|x|
	x.child_ids
	
} %>
<br />

<ul id="menu">
  <% Category.roots.each do |category| %>
     <li> <%= link_to h(category.name), category %>
        
        <% unless category.children.empty? %>
           <ul id="sub-menu"> 
             <% category.children.each do |subcategory| %>
                <li> link_to h(subcategory.name), subcategory </li>
             <% end %>
           </ul>
        <% end %>
     </li>
  <% end %>
</ul>


<br />

<%= link_to 'New Category', new_category_path %>
